<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}
        {% endblock %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div class="container grid-lg">
            <div class="hero-sm bg-dark">
                <div class="hero-body">
                    <h1>Accountant on-line</h1>
                    <p>Aplikacja oparta o pliki</p>
                </div>
            </div>
            <div class="btn-group btn-group-block">
                <button class="btn"><a href="/">Strona główna</a></button>
                <button class="btn"><a href="/historia">Historia</a></button>
            </div>
            {% block content %}
            {% endblock %}

        </div>
    </body>
</html>